@import "../../styles/util";
.homebanner{
    width: 100%;
    height: 100vh;
    position: relative;
    .banner_slider{
        height: 100%;
        width: 100%;
        .mainSwiper{
            width: 100%;
            height: 100%;
        }
    }
    .thumb_slider{
        position: absolute;
        width: 300px;
        height: 100px;
        display: flex;

        // background-color: #000;
        bottom: 10%;
        right: 10%;
        z-index: 5;
        .thumbSwiper{
            width: 50%;
            height: 100%;
            margin: 0;
            position: relative;
        }
    }
    .customPagination{
        width: 100px;
        height: 20px;
        position: absolute;
        z-index: 33;
        right: 30px;
        left: auto;
        span{
            display: inline-block;
            background-color: #000;
            width: 20px;
            height: 5px;
            border-radius: 0;
        }
    }
    .thumb_text{
        margin-left: 20px;
    }
}