@import "./variables";
//colors

$primary: #236083;
$secondary: #DEFE5D;
$primary-lite: #009bda;

//fonts
$primary-font: var(--bs-body-font-family);
$base-size: 18;
$ease: cubic-bezier(.32, .94, .6, 1);


@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

@mixin min-max($resMin, $resMax) {
  @media (min-width: ($resMin+px)) and (max-width: ($resMax+px)) {
    @content;
  }
}

@mixin max($res) {
  @media (max-width: ($res+px)) {
    @content;
  }
}

@mixin min($res) {
  @media (min-width: ($res+px)) {
    @content;
  }
}

@mixin lineHeight($font, $line) {
  line-height: calc($line/$font);
}


@mixin lineClamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin aspectRatio($w, $h) {
  padding-bottom: calc(($h / $w) * 100%);
  position: relative;

  &>img,
  &>picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


%noscroll {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}